@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --color-primary: #ffffff;
  --color-secondary: #1a1a1a;
  --color-accent: #333333;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

/* Utilities */
.glass {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.obsidian {
  background: #050505;
  border: 1px solid #1a1a1a;
}

.text-glow {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/* Animations */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
